body{
    display: block;
    position: relative;
}
h1{
    margin: 0;
}
.login-container {
    border: 1px solid lightgray;
    width: 500px;
    margin-top: 10%;
    border-radius: 4px;
    margin-left: calc( 50% - 250px );
    padding: 35px;
    height: 320px;
    background-color: #f9f8f8;
}
.login-background{
    background-image: url(./Criterion-Collection.jpg);
    height: calc( 100vh - 80px);
    width: 100%;
    background-size: auto;
    z-index: -1;
    position: absolute;
    top: 80px;
    opacity: 0.85;
}
.stepperComp {
  width: 500px;
  margin-left: calc( 50% - 250px );
}

.error {
    color: red;
    font-size: 12px;
    margin: 0 0 15px 0;
}
.dashboard{
    padding: 40px;
}
.owl-prev{
    background: #ff9800 !important;
    position: absolute;
    top: 2%;
    height: 340px;
    width: 25px;
    left: -30px;
    border-radius: 4px;
    color: white !important;
    font-size: 30px !important;
    /*line-height: 50px !important;*/
    /*box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);*/
}
.owl-next{
    background: #ff9800 !important;
    position: absolute;
    top: 2%;
    height: 340px;
    width: 25px;
    border-radius: 4px;
    right : -30px;
    color: white !important;
    font-size: 30px !important;
    /*line-height: 50px !important;*/
    /*box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);*/
}
.card .card-content p {
    color: #757575;
    font-size: 12px;
}
.card {
    display: inline-block;
    width: 300px !important;;
    height: 340px !important;
    overflow: hidden;

}
.trending {
    height: 450px;
    display: block;
}
.favorites {
    padding: 40px;
}

@keyframes modal-video {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes modal-video-inner {
    from {
        transform: translate(0, 100px)
    }

    to {
        transform: translate(0, 0)
    }
}

.modal-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000000;
    cursor: pointer;
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: .3s;
    animation-name: modal-video;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

.modal-video-effect-exit {
    opacity: 0
}

.modal-video-effect-exit .modal-video-movie-wrap {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px)
}

.modal-video-body {
    max-width: 940px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table
}

.modal-video-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%
}

.modal-video-movie-wrap {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #333;
    animation-timing-function: ease-out;
    animation-duration: .3s;
    animation-name: modal-video-inner;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -ms-transition: -ms-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}

.modal-video-movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.modal-video-close-btn {
    position: absolute;
    z-index: 2;
    top: -35px;
    right: -35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent
}

.modal-video-close-btn:before {
    transform: rotate(45deg)
}

.modal-video-close-btn:after {
    transform: rotate(-45deg)
}

.modal-video-close-btn:before,.modal-video-close-btn:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px
}
.carousel{
    /*overflow: hidden; */
    position: relative;
    width: 100%;
    height: 600px !important;
    -webkit-perspective: 2500px;
    perspective: 2500px !important;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    top: -90px;
    left: -2%;
    padding: 0 0 100px 0;
    transform: scaleX( 1.2 );
    margin: 30px 30px 0 30px;
    transform: translateZ(0);
}
.carousel-item{
    visibility: hidden;
    width: 350px !important;
    height: 500px !important;
}
.header{
    margin: 0;
    height: 80px !important;
    background: #333333;
    box-sizing: border-box;
    line-height: 80px;
}
.header__heading {
    display: inline-block;
    width: 85%;
    margin: 0;
    padding: 0 0 0 30px;
    color: white;
}
.header__heading__nav {
    display: inline-block;
    width: 35%;
    margin: 0;
    padding: 0 0 0 30px;
    color: white;
}
.dropdown-content{
    top: 55px !important;
    background-color: initial !important;
}
.nav-wrapper .input-field{
    display: inline-block !important;
    width: 35% !important;
    background-color: white;
    border-radius: 4px;
    height: 50px;
    margin: 0;
    position: relative;
    top: 5px;
}
#search{
   color: black;
    height: 100%;
    display: block;
    top: 0;
    position: absolute;
    width: 100%;
    left: 40px
}
#search:focus{
    border-bottom: none;
    box-shadow: none;
}
.nav-wrapper .input-field .label-icon active {
    color: black;
}
.search_icon{
    box-sizing: border-box;
    height: 50px !important;
    line-height: 50px !important;
    padding: 0 0 0 13px;
    color: black;
}
.trending__heading {
    margin: -7% 0 10px 0;
}
.disabled{
    opacity: 0.4;
}
.card .card-action{
    bottom: 0%;
    height: 20%;
}
.card .card-content{
    height: 80%;
}
.halfway-fab-2{
    bottom: inherit !important;
    top: -16px !important;
}