
.h1{
    margin: 0;
}
.login-container {
    border: 1px solid lightgray;
    width: 500px;
    margin-top: 10%;
    border-radius: 4px;
    margin-left: calc( 50% - 250px );
    padding: 35px;
    height: 320px;
}

.stepperComp {
  width: 500px;
  margin-left: calc( 50% - 250px );
}

.error {
    color: red;
    font-size: 12px;
    margin: 0 0 15px 0;
}
.dashboard{
    padding: 40px;
}
.owl-prev{
    background: #ff9800 !important;
    position: absolute;
    top: 2%;
    height: 277px;
    width: 25px;
    left: -30px;
    border-radius: 4px;
    color: white !important;
    font-size: 30px !important;
    /*line-height: 50px !important;*/
    /*box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);*/
}
.owl-next{
    background: #ff9800 !important;
    position: absolute;
    top: 2%;
    height: 277px;
    width: 25px;
    border-radius: 4px;
    right : -30px;
    color: white !important;
    font-size: 30px !important;
    /*line-height: 50px !important;*/
    /*box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);*/
}
.card .card-content p {
    color: #757575;
    font-size: 12px;
}
.card {
    height: 277px;
}
